@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor {
    cursor: text !important;
    color: #000000 !important;
}

.monaco-editor .cursors-layer {
    cursor: text !important;
    color: #000000 !important;
}

.monaco-editor .cursors-layer .cursor {
    cursor: text !important;
    color: #000000 !important;
}

.monaco-mouse-cursor-text {
    cursor: text !important;
    color: #000000 !important;
}

.cursor-pointer {
    cursor: text !important;
    color: #000000 !important;
}

.monaco-editor .cursors-layer>.cursor {
    overflow: text !important;
    color: #000000 !important;
}